@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;

    background-image: url(../images/fond.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    max-width: 850px;
    width: 85%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#box.active {
    display: none;
}


/************* BOX-INFO *******/
#box-info {
    background-color: #fff;
    padding: 20px;
}
#box-info h2 {
    text-align: center;
    color: rgb(231,119,15);
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 10px;
}
#box-info p {
    font-size: 16px;
}
#box-info ul {
    margin-top: 45px;
}
#box-info ul li {
    list-style: none;
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
}
#box-info ul li i {
    color: rgb(231,119,15);
    font-size: 30px;
    margin-right: 10px;
}
#box-info h3 {
    text-align: center;
    border-top: 1px dashed rgb(231,119,15);
    margin-top: 30px;
    padding-top: 20px;
    font-size: 16px;
}
#box-info ul.sociaux {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#box-info ul.sociaux li {
    margin: 15px;
}
#box-info ul.sociaux li a i {
    color: rgba(231,119,15,0.5);
    transition: color 0.5s;
}
#box-info ul.sociaux li a i:hover {
    color: rgba(231,119,15,1);
    transform: scale(1.2);
}
/************* BOX-INFO *******/
/********************/


/************* BOX-FORM *******/
#box-form {
    background-color: rgb(231,119,15);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    padding: 20px;
}
#box-form h2 {
    text-align: center;
    color: #f2f2f2;
    font-size: 25px;
    letter-spacing: 2px;
    margin-top: 10px;
}
#box-form .input-content {
    position: relative;
    margin-bottom: 12px;
}
#box-form label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    color: #eceaea;
    font-size: 16px;
    letter-spacing: 1px;
    cursor:text;
    transition: 0.5s;
}
#box-form label.active {
    top: 0;
    left: 25px;
    padding: 0px 5px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    background-color: rgb(231,119,15);
}
#box-form .textarea label {
    top: 20px;
}
#box-form .textarea label.active {
    top: 0;
}
#box-form input, #box-form textarea {
    width: 100%;
    border: 2px solid #f2f2f2;
    background: none;
    outline: none;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 50px;


    color: #f2f2f2;
    letter-spacing: 1px;
    font-size: 16px;
}
#box-form input:hover, #box-form textarea:hover {
    border-color:rgba(255,255,255, 0.4);
}
#box-form textarea {
    min-height: 100px;
    border-radius: 20px;
    resize: none;
}
#box-form button {
    background-color: orange;
    color: white;
    font-size: 35px;
    border: 1px solid white;
    padding: 10px 30px;
    display: block;
    margin: 20px auto 0;
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.5s;
}
#box-form button:hover {
    background-color: orangered;
}
#box-form button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

#msgError {
    font-size: 12px;
    text-align: center;
}

#explicationPrenom, #explicationNom, #explicationEmail {
    display: none;
}
#explicationPrenom.active, #explicationNom.active, #explicationEmail.active {
    display: block;
    font-size: 13px;
    text-align: center;
    color: #6e1005;
    margin: 0;
    padding-top: 0;
    padding-bottom: 2px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #6e1005;
}

#box-form input.bordureRouge {
    border-color: #ea2027;
}
#box-form input.bordureVert {
    border-color: #f1c40f;
}
#controleNom, #controlePrenom, #controleEmail {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    font-size: 30px;
}
.rouge {
    color: #ea2027;
}
.vert {
    color: #f1c40f;
}
/************* BOX-FORM *******/
/********************/


/************* BOX-REPONSE *******/
#box-reponse {
    display: none;
    max-width: 850px;
    width: 85%;
    background-color: rgb(231,119,15);
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    color: #f2f2f2;
}
#box-reponse.active {
    display: block;
}
#box-reponse h2 {
    font-size: 20px;
    letter-spacing: 1px;
}
#box-reponse p {
    font-size: 17px;
}
#box-reponse .info {
    font-size: 14px;
    color: #333;
    font-style: italic;
}
#box-reponse a i {
    color: #7c3d1c;
    font-size: 65px;
    transition: 0.5s;
}
#box-reponse a i:hover {
    color: #333;
    transform: scale(1.2);
}
/************* BOX-REPONSE *******/
/********************/



@media screen and (max-width: 850px) {
    body {
        align-items: flex-start;
    }
    #box {
        grid-template-columns: 1fr;
        grid-template-areas: 
                        "boxForm"
                        "boxInfo";
    }

    /************* BOX-INFO *******/
    #box-info {
        grid-area: boxInfo;

        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    /************* BOX-INFO *******/
    /********************/


    /************* BOX-FORM *******/
    #box-form {
        grid-area: boxForm;

        border-top-left-radius: 15px;
        border-bottom-right-radius: 0;
    }
    /************* BOX-FORM *******/
    /********************/
    }