

.rouge {
    color: rgb(146,45,45);
}
.vert {
    color: #0a0;
}
.bordureRouge {
    border: 2px solid #a00;
    background-color: rgba(228,131,131,0.5);
}
.bordureVert {
    border: 2px solid #0a0;
    background-color: rgba(159,224,122,0.5);
}
