#modale {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    display: none;
}
#modale.error {
    display: block;
}
#modale-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #e74c3c;
    height: 60px;
    font-size: 18px;
    font-weight: blod;
    color: #ecf0f1;
    letter-spacing: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#modale-content .fa-exclamation-triangle {
    font-size: 30px;
    margin-right: 7px;
    color: #000;
}
#modale-content .fa-times-circle {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s;
}
#modale-content .fa-times-circle:hover {
    color: #000;
    transition: 0.5s;
}