body {
    margin: 0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8cb28;
}
#site {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
            "header header"
            "nav article";
}
header {
    background-image: url(medias/header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    grid-area: header;
}
nav {
    background-color: #1b1b1b;
    grid-area: nav;
}
.fixe {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    margin: 0;
    padding:0;
    text-align: center;
}
nav li {
    list-style: none;
    padding: 25px;
}
nav a {
    color: #f9d960;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #f8cb28;
}
article {
    width: 75%;
    margin: auto;
    background-color: #f9d960;
    padding: 25px;
    border-left: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
    grid-area: article;
}
article p {
    text-align: justify;
    font-size: 17px;
}

@media screen and (max-width: 750px) {
    #site {
        grid-template-columns: 1fr;
        grid-template-areas:
                "header"
                "nav"
                "article";
    }
    nav ul {
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
}