body {
    font-family: 'Montserrat', sans-serif;
    background-color: #262526;
    color: #F2F2F2;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

section {
    background-color: #262526;
    color: #F2F2F2;
    margin-bottom: 30px;
    padding: 10px 20px;
}

p {
    font-size: 18px; 
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/* Style du contenu du modal */
.modal-content {
    background-color: #F2F2F2; /* Background blan */
    color: #262526; /* Texte bleu */
    margin: 15% auto; /* Centrer verticalement et horizontalement sur l'écran */
    padding: 20px;
    border: 3px solid #D92332;
    border-radius: 10px;
    width: 60%; /* Réduire la largeur du modal */
    max-width: 400px; /* Limiter la largeur maximale du modal */
    text-align: center; /* Centrer le contenu du modal */
}

/* Style du bouton de fermeture */
.close {
    color: #D94350;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #D92332;
    text-decoration: none;
    cursor: pointer;
}

/* Style du bouton de contact */
#contact-btn {
    margin: 20px auto; /* Centrer le bouton horizontalement */
    padding: 10px 20px;
    font-size: 18px;
    background-color: #F2F2F2;
    color: #262526;
    border: 10px;
    border-radius: 20px;
    cursor: pointer;
}

#contact-btn:hover {
    color: #F2F2F2;
    background-color: #262526;
}

/* Utilisation de Grid pour la mise en page */
#vincent-photo {
    display: grid;
    place-items: center; /* Centrer verticalement et horizontalement */
    margin-bottom: 20px; /* Ajouter un espacement en bas */
    transition: transform 0.3s ease;
}

#vincent-photo img {
    max-width: 100%; /* Assurer que la photo ne dépasse pas de son conteneur */
    height: auto;
}

#vincent-photo img:hover {
    transform: scale(1.03); /* Agrandit légèrement l'image */
}

/* Media Queries pour la mise en page responsive */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%; /* Réduire la largeur du modal pour les petits écrans */
    }
}
