# Désactive l'indexation des répertoires, empêchant l'affichage de la liste des fichiers.
Options All -Indexes

# Active le moteur de réécriture d'URL.
RewriteEngine On

# Définit la base pour les règles de réécriture.
RewriteBase /garage-automobile/

# Réécrit les URL selon la règle spécifiée.
# Capture une chaîne composée de lettres, chiffres ou tirets et la passe à Index.php comme paramètre 'page'.
RewriteRule ^([-a-zA-Z0-9]+)$ Index.php?page=$1
